# Node / Logs
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local

# Coverage / tests
coverage
.nyc_output

# Editor / OS
.DS_Store
Thumbs.db
.idea
.vscode

# Build artifacts
dist
build

